<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../public/build/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="icon" href="../public/images/logo2.ico" type="image/x-icon">
</head>
<body>
    <!--登录-->
    <div class="login-wrap">
        <div class="login">
            <form action="">
                <div class="form-group">
                    <label for="username" class="control-label">用户名</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">密码</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary form-control login-btn">登录</button>
            </form>
        </div>
    </div>
    <!--/登录-->
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/build/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>