<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一声后台管理</title>
    <link rel="stylesheet" href="../public/build/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="icon" href="../public/images/logo2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
<section class="index-wrap">
    <!--头部-->
    <header class="clearfix header">
        <img class="pull-left logo_top" src="../public/images/logo.png" alt="第一声">
        <div class="pull-left" id="switch_app">
            <span>小程序一</span>
            <div class="index-app-list" id="app_list">
                <span>小程序一</span>
                <a href="">小程序二</a>
                <a href="">小程序三</a>
            </div>
        </div>
        <div class="pull-right login-info">
            <span>哈喽，卖女孩的小火柴</span>
            <a href="" class="login-out">退出</a>
        </div>
    </header>
    <!--/头部-->

    <!--主体部分-->
    <section class="clearfix index-part">

        <!--左导航-->
        <nav class="col-md-2 hidden-sm left-nav" id="index_nav">
            <ul class="nav-list">
                <li class="nav-list-each">
                    <a data-toggle="collapse" href="#user" data-parent="#index_nav" class="index-nav-father" id="user_control">用户管理</a>
                    <ul id="user" class="collapse">
                        <li><a href="" class="index-nav-son" id="user_list">用户列表</a></li>
                        <li><a href="" class="index-nav-son" id="user_check">待审核</a></li>
                        <li><a href="" class="index-nav-son" id="user_past">已通过</a></li>
                    </ul>
                </li>
                <li class="nav-list-each">
                    <a data-toggle="collapse" href="#ad" data-parent="#index_nav" class="index-nav-father" id="ad_control">广告管理</a>
                    <ul id="ad" class="collapse">
                        <li><a href="" class="index-nav-son" id="ad_list">商户列表</a></li>
                        <li><a href="" class="index-nav-son" id="ad_check">待审核</a></li>
                        <li><a href="" class="index-nav-son" id="ad_past">已通过</a></li>
                    </ul>
                </li>
            </ul>
            <span class="glyphicon glyphicon-th-large"></span>
        </nav>
        <!--/左导航-->

        <!--右内容-->

        <div class="col-md-10 index-content">

            <!--面包屑导航-->
            <ol class="breadcrumb">
                <li>用户管理</li>
                <li class="active">用户列表</li>
            </ol>
            <!--/面包屑导航-->

            <div>
                <table class="table table-bordered table-responsive">
                    <thead class="text-center">
                        <tr>
                            <td class="col-md-3">用户</td>
                            <td class="col-md-3">发布次数</td>
                            <td class="col-md-3">评论次数</td>
                            <td class="col-md-3">操作</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <!--/右内容-->

    </section>
    <!--/主体部分-->
</section>

    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/build/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../public/js/main.js"></script>
    <!--留空js位置-->
    <script>
        $(function () {
            $('#user_control').addClass('active')
            $('#user').collapse()
            $('#user_list').addClass('active')
        })
    </script>
    <!--/留空js位置-->
</body>
</html>